
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    height: 10rem;
    background-color: #333333;
}

footer .footer-brand {
    width: 254px;
    height: 64px;
}
.main-footer {

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 6px;

}